build
*.iml
.DS_Store
rdmbuild.gradle
debug.keystore
.idea
.gradle

Android/Demo/.idea
Android/Demo/.gradle
Android/Demo/app/build/
Android/Demo/beautysettingkit/build/
Android/Demo/local.properties

.gradle
.idea

.DS_Store
.vscode
.project
.settings
xcuserdata
*.iml

iOS/Demo/XiaoShiPin/Pods/
iOS/Demo/Pods/
iOS/SDK/*.framework/
